<?xml version="1.0" encoding="UTF-8"?>
<suite name="any website suite" thread-count="5">
    <parameter name="browserName" value="chrome"></parameter>
    <test name="any test name">
        <classes>
            <class name="tests.webTests.TestConnexionWeb"></class>
        </classes>
    </test>
</suite>