<?xml version="1.0" encoding="UTF-8"?>
<suite name="any website suite" thread-count="5">
    <parameter name="browserName" value="chrome"></parameter>
    <parameter name="platform" value="web"></parameter>
    <listeners>
        <listener class-name="listeners.Listeners"></listener>
    </listeners>

    <test name="any test name">
        <parameter name="platform" value="web"></parameter>
        <classes>
            <parameter name="platform" value="web"></parameter>
            <class name="tests.TestBookingReceipts"></class>
        </classes>
    </test>
</suite>